.whatsInYourCart {
  display: flex;
  border-top: 1px dotted yellow; // justify-content: space-between;
  .cartItemColumn {
    display: flex;
    margin-right: 80px;
    margin-left: 20px;
    align-items: center;
    justify-content: left;
    .itemName {
      display: flex;
      flex-direction: column;
      .itenMainName {
        font-weight: bolder;
      }
    }
    .itemImage {
      width: 220px;
      height: 300px;
    }
  }
}
