$aqua:#00FFFF;
$bisque:#ffe4c4;
$black:#000000;
$blue:#0000FF;
$brown:#A52A2A;
$cyan:#00FFFF;
$dark_blue:#00008B;
$dark_byan:#008B8B;
$dark_gray:#A9A9A9;
$dark_grey:#A9A9A9;
$dark_green:#006400;
$dark_magenta:#8B008B;
$dark_olive_green:#556B2F;
$dark_orange:#FF8C00;
$dark_red:#8B0000;
$dark_sea_green:#8FBC8F;
$dark_violet:#9400D3;
$gold:#FFD700;
$gray:#808080;
$grey:#808080;
$green:#008000;
$green_yellow:#ADFF2F;
$indigo:#4B0082;
$light_blue:#ADD8E6;
$light_coral:#F08080;
$light_cyan:#E0FFFF;
$light_goldenrodYellow:#FAFAD2;
$light_green:#90EE90;
$light_gray:#D3D3D3;
$light_grey:#D3D3D3;
$light_pink:#FFB6C1;
$light_sky_blue:#87CEFA;
$light_yellow:#FFFFE0;
$lime:#00FF00;
$lime_green:#32CD32;
$magenta:#FF00FF;
$navy:#000080;
$orange:#FFA500;
$orange_red:#FF4500;
$pink:#FFC0CB;
$purple:#800080;
$red:#FF0000;
$sea_green:#2E8B57;
$silver:#C0C0C0;
$sky_blue:#87CEEB;
$violet:#EE82EE;
$white:#FFFFFF;
$yellow:#FFFF00;
$yellow_green:#9ACD32;
