html {
  display: block;
}
/* generic block-level elements */
body {
  display: block;
  margin: 8px;
}
body:-webkit-full-page-media {
  background-color: rgb(0, 0, 0)
}
p {
  display: block;
  margin-block-start: 1__qem;
  margin-block-end: 1__qem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
div {
  display: block
}
article, aside, footer, header, hgroup, main, nav, section {
  display: block
}