.footerContainer {
  background-color: black;
  color: white;
  .informationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footerPaffem {
      font-size: 50px;
      margin-bottom: 30px;
      opacity: 0.5;
    }

    .information {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .text {
        font-size: 12px;
        opacity: 0.5;
      }
    }
    .imgBox {
      display: flex;
      justify-content: space-between;
      width: 90px;

      img {
        width: 20px;
        height: 20px;
        filter: invert(100%);
      }
    }
  }
}
