.shop {
  width: 100%;

  .categoryWrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

    .categories {
      display: flex;

      .singleCategory {
        padding: 0 60px 20px 60px;
        font-family: sans-serif;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .bar {
    border-bottom: 1px solid silver;
  }
  .perfumeWrapper {
    .perfumeList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
