.shop {
  width: 100%;

  .categoryWrapper {
    display: flex;
    width: 60%;

    .categories {
      display: flex;

      .singleCategory {
        padding: 20px;
      }
    }
  }
  .perfumeWrapper {
    .PerfumeList {
      display: flex;
      max-width: 1200px;
      flex-wrap: wrap;
    }
  }
}
