.SurveyResult {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .resultContainer {
    width: 400px;
    margin-top: 200px;

    .userTaste {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .userTasteText {
        padding-bottom: 30px;
        font-size: 20px;

        .title {
          margin-bottom: 10px;
        }
        .suffix {
          margin-bottom: 10px;
        }
        .prefix {
          margin-bottom: 10px;
        }
      }

      .userTasteImg {
        width: 500px;
        height: 300px;
        margin: 30px 0;
        border-bottom: gray 2px solid;
        border-top: gray 2px solid;
      }
    }
    .recommendText {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 22px;
    }

    .recommendContainer {
      text-align: center;
      margin-top: 50px;
      width: 400px;

      .recommendImgBox {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
          width: 200px;
          height: 200px;
          margin-bottom: 30px;
        }

        .title {
          font-size: 15px;
          margin-bottom: 10px;
        }
        .prefix {
          font-size: 18px;
          margin-bottom: 10px;
        }
        .suffix {
          font-size: 13px;
          opacity: 0.8;
          margin-bottom: 10px;
        }
      }
    }
    .itemInfo {
      margin: 150px 0;
      display: flex;
      align-items: center;
      flex-direction: column;

      .itemInfoTitle {
        font-size: 20px;
        margin-bottom: 100px;
      }
      .itemImg {
        background-color: blue;
        width: 200px;
        height: 200px;
      }

      .itemInfoText {
        text-align: center;

        .title {
          font-size: 15px;
          margin-bottom: 10px;
        }
        .prefix {
          font-size: 18px;
          margin-bottom: 10px;
        }
        .suffix {
          font-size: 13px;
          opacity: 0.8;
          margin-bottom: 10px;
        }
      }
    }
    .resultFooter {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;
      .buttonContainer {
      }
    }
  }
}
