.perfumeBox {
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 0;

  .perfumeImg {
    width: 235px;
    height: 293px;
    object-fit: cover;
  }

  .perfumeText {
    margin: 10px;

    .perfumeName {
      font-family: sans-serif;
      font-weight: 540;
      font-size: 20px;
    }
    .perfumeTags {
    }
  }

  .addButton {
    margin: 0 auto;

    .button {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
