.survey {
  .surveyMainContainer {
    width: 100%;
    height: 700px;
    .surveyBackground {
      background-image: url('../../../../assets/images/survey/survey_main.jpg');
      background-size: cover;
      color: white;

      .surveyMainTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 700px;

        .surveyMainText {
          width: 280px;
          font-size: 17px;
          margin: 50px;
        }
        .surveyPrefix {
          width: 280px;
          font-size: 40px;
        }
        .surveySufix {
          width: 280px;
          font-size: 18px;
          margin-top: 50px;
        }
        .startButton {
          height: 50px;
          width: 280px;
          background-color: transparent;
          margin-bottom: 120px;
          cursor: pointer;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
